{% schema %}
  {
    "name": "header",
    "settings": [
      {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo Image"
    },
    {
      "type": "text",
      "id": "logo_alt",
      "label": "Logo Alt Text",
      "default": "Company Logo"
    }
    ]
  }
{% endschema %}

<header class="header">
  <div class="header__container">
    <img
      class="header__logo"
      alt="{{ section.settings.logo_alt }}"
      src="{{ section.settings.logo | image_url: width: 100 }}" width="100" height="57"
    />
    <div class="header__actions">
      <a href="/pages/wishlist" class="wishlist-link" >
         Wishlist
        <span class="wishlist-counter">0</span>
      </a>
      <p class="header__status">0 of 3 products selected</p>
      <button class="button button--secondary" disabled>checkout</button>
    </div>
  </div>
</header>

